html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  display: flex;
  background-color: #d9bb99;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
}
.nav-list {
  display: flex;
  list-style: none;
  margin-right: 10px;
}
.navbar-h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  margin-left: 100px;
}
.nav-list a {
  padding-left: 2rem;
  text-decoration: none;
  color: black;
  font-weight:;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-list a:hover {
  color: #f2ece0;
}
.nav-list a:active {
  color: black;
}
#top-background-img {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: static;
  z-index: -1;
}
h1 {
  color: #f2ece0;
  font-size: 3rem;
  margin-top: -500px;
  margin-left: 60px;
  font-family: "Times New Roman", Times, serif;
}
.top-h1-description {
  margin-left: 60px;
  color: #ddd7cb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  text-shadow: 1px 2px 2px #000000;
}
.header-button-1 {
  width: 150px;
  height: 44px;
  border: none;
  border-radius: 25px;
  background-color: #f2ece0;
  box-shadow: 0px 0px 1px white;
  margin-top: 40px;
  margin-left: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.header-button-1:hover {
  transform: scale(1.1) translate(2px);
  box-shadow: 0 0 5px black;
}
.header-button-1:active {
  background-color: #d9bb99;
}
.header-button-2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f2ece0;
  width: 150px;
  height: 44px;
  border: none;
  border-radius: 25px;
  background-color: #b66b1c;
  box-shadow: 0px 0px 1px white;
  margin-top: 40px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.header-button-2:hover {
  transform: scale(1.1) translateY(2px);
  box-shadow: 0 0 5px black;
}
.header-button-2:active {
  background-color: #8d4825;
}

.menu-h2 {
  margin-top: 330px;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  margin-left: 45%;
}
.menu-circle-1 {
  margin-top: 60px;
  background-color: #45291b;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 200px;
}
.menu-circle-2 {
  margin-top: -276px;
  background-color: #45291b;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 500px;
}
.menu-circle-3 {
  margin-top: -278px;
  background-color: #45291b;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 800px;
}
.menu-circle-4 {
  margin-top: -60px;
  background-color: #45291b;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 1100px;
}
.menu-divider-1 {
  width: 2px;
  height: 150px;
  background-color: #45291b;
  margin-left: 380px;
  margin-top: px;
}
.menu-divider-2 {
  width: 2px;
  height: 150px;
  background-color: #45291b;
  margin-left: 680px;
  margin-top: -150px;
}
.menu-divider-3 {
  width: 2px;
  height: 150px;
  background-color: #45291b;
  margin-left: 360px;
  margin-top: -150px;
}
.menu-description-div-1 {
  width: 350px;
  height: 200px;
  border: 2px solid;
  margin-top: 20px;
  text-align: center;
  border: none;
}
.menu-description-div-1 h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-left: 95px;
}
.menu-description-div-1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.05rem;
  margin-top: 20px;
  margin-left: 70px;
}
.menu-description-div-2 {
  width: 350px;
  height: 200px;
  border: 2px solid;
  margin-top: 20px;
  text-align: center;
  border: none;
  margin-left: 320px;
}
.menu-description-div-2 h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-left: 95px;
}
.menu-description-div-2 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.05rem;
  margin-top: 20px;
  margin-left: 70px;
}
.menu-description-div-3 {
  width: 350px;
  height: 200px;
  border: 2px solid;
  margin-top: -135px;
  text-align: center;
  border: none;
  margin-left: 620px;
  border: none;
}
.menu-description-div-3 h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-left: 95px;
}
.menu-description-div-3 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.05rem;
  margin-top: 20px;
  margin-left: 70px;
}
.menu-description-div-4 {
  width: 350px;
  height: 200px;
  border: 2px solid;
  margin-top: -135px;
  text-align: center;
  border: none;
  margin-left: 300px;
  border: none;
}
.menu-description-div-4 h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-left: 95px;
  margin-top: 10px;
}
.menu-description-div-4 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.05rem;
  margin-top: 20px;
  margin-left: 70px;
}
.about-container-left {
  width: 50%;
  height: 350px;
  background-color: #45291b;
  overflow: hidden;
}
.about-container-left img {
  position: static;
  z-index: -1;
  margin-top: -290px;
  height: 100%;
  margin-left: 370px;
  border-left: 1px solid #553322;
}
.about-left-h2 {
  color: #f2ece0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  margin-left: 70px;
  margin-top: 50px;
}
.about-left-p {
  text-align: left;
  color: #f2ece0;
  margin-left: 70px;
  font-family: arial;
}
.about-container-left button {
  background-color: #f2ece0;
  border: none;
  margin-top: 20px;
  margin-left: 70px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  color: #45291b;
  font-size: 0.97rem;
  border: 2px solid #d9bb99;
  cursor: pointer;
}
.about-container-left button:hover {
  background-color: #fff;
}
.about-container-left button:active {
  background-color: #f2ece0;
}
.about-container-right {
  width: 50%;
  height: 350px;
  background-color: #e2d0ba;
  margin-top: -350px;
  margin-left: 671px;
}
.about-right-h3 {
  font-size: 2.3rem;
  padding-top: 100px;
  margin-left: 200px;
}
.about-right-h2 {
  font-family: arial;
  font-size: 1.7rem;
  margin-top: 20px;
  margin-left: 130px;
  text-align: left;
}
.about-right-p {
  font-family: arial;
  margin-top: 10px;
  text-align: center;
}
.about-right-button {
  margin-left: 265px;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid #553322;
  background-color: #f2ece0;
  cursor: pointer;
}
.about-right-button:hover {
  background-color: #fff;
}
.morning-h2 {
  font-size: 4em;
  margin-top: 0px;
  margin-left: 70px;
  color: #dfba6c;
}
.morning-p-1 {
  color: #b66b1c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  margin-top: 80px;
  margin-left: 71px;
}
.morning-p-2 {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 70px;
  font-size: 1.3em;
}
.morning-button-1 {
  font-size: 1.4em;
  width: 180px;
  height: 60px;
  border-radius: 50px;
  background-color: #f2ece0;
  border: none;
  box-shadow: 0 0 4px #000000;
  cursor: pointer;
  margin-left: 70px;
  margin-top: 30px;
}
.morning-button-1:hover {
  background-color: #e4dbd5;
}
.morning-button-1:active {
  background-color: #f2ece0;
}
.morning-button-2 {
  color: #fff;
  font-size: 1.4em;
  width: 180px;
  height: 60px;
  border-radius: 50px;
  background-color: #dfba6c;
  border: none;
  box-shadow: 0 0 4px #000000;
  cursor: pointer;
  margin-left: 20px;
}
.morning-button-2:hover {
  background-color: #eec161;
}
.morning-button-2:active {
  background-color: #dfba6c;
}
.visit-h2 {
  margin-left: 860px;
  margin-top: -210px;
  font-size: 2.5em;
  color: #dfba6c;
}
.visit-div-1 {
  width: 120px;
  height: 120px;
  background-color: #000;
  margin-left: 750px;
  margin-top: 40px;
  border-radius: 7px;
  background-image: url(assets/4_divs_1.jpg);
  background-size: cover;
  background-position: center -60px;
}
.visit-div-2 {
  width: 120px;
  height: 120px;
  background-color: #000;
  margin-left: 880px;
  margin-top: -100px;
  border-radius: 7px;
  background-image: url(assets/4_divs_2.jpg);
  background-size: cover;
  background-position: center -40px;
}
.visit-div-3 {
  width: 120px;
  height: 120px;
  background-color: #000;
  margin-left: 1010px;
  margin-top: -100px;
  border-radius: 7px;
  background-image: url(assets/4_divs_7.jpg);
  background-size: cover;
  background-position: center -40px;
}
.visit-div-4 {
  width: 120px;
  height: 120px;
  background-color: #000;
  margin-left: 1140px;
  margin-top: -100px;
  border-radius: 7px;
  background-image: url(assets/4_divs_8.jpg);
  background-size: contain;
}
.footer-banner-holder {
  width: 100%;
  height: 300px;
  background-color: #faecd2;
  margin-top: 100px;
  background-image: url(assets/banners_alt_.jpg);
  background-repeat: no-repeat;
  margin-bottom: 2px;
}
.footer-banner-h2 {
  font-size: 2.5em;
  padding-top: 50px;
  margin-left: 70px;
}
.footer-banner-p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  margin-left: 70px;
}
.footer-banner-button {
  width: 170px;
  height: 55px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 70px;
  box-shadow: 0 0 3px #999999;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
}
.footer-banner-button:hover {
  background-color: #f8f8f8;
}
.footer-banner-button:active {
  background-color: #fff;
}
.last-footer {
  width: 100%;
  height: 70px;
  background-color: #45291b;
  box-shadow: 2px 0 2px #553322;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.last-footer a {
  color: transparent;
}
.img-link {
  width: 60px;
  align-self: center;
  transition: 0.3s ease-in-out;
}
.img-link:hover {
  transform: scale(1.2);
}
.img-link:active {
  transform: perspective(5px);
}
.address address {
  color: white;
  font-size: 1.2em;
}
.note {
  color: #ffffff;
  font-size: 1.2em;
  position: absolute;
  left: 600px;
  top: 2320px;
}
